In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import regex as re

In [2]:
df = pd.read_csv('/home/jupyter/mnt/s3/generalvibe/data/train.csv')
df = df.drop('Unnamed: 0', axis=1)
# df['sentiment'] = df['sentiment'].apply(lambda label: 1 if label == '+' elif 0 label)
le = preprocessing.LabelEncoder()
le.fit(df.sentiment)
df['sentiment'] = le.transform(df.sentiment)
df

                                                sentence  ... sentiment
0           При этом всегда получал качественные услуги.  ...         0
1      Не вижу, за что хотя бы 2 поставить, сервис на 1!  ...         2
2           Вот так "Мой любимый" банк МКБ меня обманул.  ...         2
3                   Отвратительное отношение к клиентам.  ...         2
4      Всегда в любое время дня и ночи помогут, ответ...  ...         0
...                                                  ...  ...       ...
19356  Никогда и ни в коем случае не открывайте счет ...  ...         2
19357  ТИ откровенно забили на качество и развивают с...  ...         2
19358  Я считаю, это прорыв и лидерство финансовых ус...  ...         0
19359  Писал мужчина очень доходчиво, не финансовым я...  ...         0
19360  Данная ситуация меня сильно выбила из колеи, и...  ...         2

[19361 rows x 4 columns]

In [ ]:
def categorize(label):
    

processed_df = df.groupby(['sentence']).agg