In [80]:

import pandas as pd
import regex as re
from sklearn import preprocessing

In [82]:
df = pd.read_csv('/home/jupyter/mnt/s3/generalvibe/data/train.csv')
df = df.drop('Unnamed: 0', axis=1)
df = df.drop_duplicates(subset=['sentence']).reset_index(drop=True)
# df['sentiment'] = df['sentiment'].apply(lambda label: 1 if label == '+' elif 0 label)
le = preprocessing.LabelEncoder()
le.fit(df.sentiment)
df['sentiment'] = le.transform(df.sentiment)
df

                                               sentence  ... sentiment
0          При этом всегда получал качественные услуги.  ...         0
1     Не вижу, за что хотя бы 2 поставить, сервис на 1!  ...         2
2          Вот так "Мой любимый" банк МКБ меня обманул.  ...         2
3                  Отвратительное отношение к клиентам.  ...         2
4     Всегда в любое время дня и ночи помогут, ответ...  ...         0
...                                                 ...  ...       ...
7161  Любимый Промсвязьбанк поздравляю тебя с 14 фев...  ...         0
7162    Увидела рекламу на супер ставку по кредиту 6.9.  ...         1
7163  И иду на встречу, готов еще заплатить % за мес...  ...         1
7164      У меня положительное отношение к этому банку.  ...         0
7165  В общей сложности через 30 мин.мы ушли из банк...  ...         0

[7166 rows x 4 columns]

In [83]:
le.classes_

array(['+', '?', '−'], dtype=object)

In [84]:
df.groupby(['sentiment', '1category']).agg('count')

                         sentence  2category
sentiment 1category
0         ?                   482          0
          Communication       847         41
          Price                90         18
          Quality             883         92
          Safety                8          0
1         ?                   881          0
          Communication       109          2
          Price                 8          0
          Quality              83          4
          Safety                6          0
2         ?                   883          0
          Communication      1641         70
          Price                54         15
          Quality            1121        104
          Safety               70          9

In [92]:
def check_punkt(text):
    if re.search(r'[!?"\']', text):
        return 1
    return 0

def check_nums(text):
    if re.search(r'\d', text):
        return 1
    return 0

In [94]:
df['punkt'] = df['sentence'].apply(check_punkt)
df['nums'] = df['sentence'].apply(check_nums)
df

                                               sentence  ... nums
0          При этом всегда получал качественные услуги.  ...    0
1     Не вижу, за что хотя бы 2 поставить, сервис на 1!  ...    1
2          Вот так "Мой любимый" банк МКБ меня обманул.  ...    0
3                  Отвратительное отношение к клиентам.  ...    0
4     Всегда в любое время дня и ночи помогут, ответ...  ...    0
...                                                 ...  ...  ...
7161  Любимый Промсвязьбанк поздравляю тебя с 14 фев...  ...    1
7162    Увидела рекламу на супер ставку по кредиту 6.9.  ...    1
7163  И иду на встречу, готов еще заплатить % за мес...  ...    1
7164      У меня положительное отношение к этому банку.  ...    0
7165  В общей сложности через 30 мин.мы ушли из банк...  ...    1

[7166 rows x 6 columns]

In [73]:
df[df.sentiment == 2].sentiment#.corr(df[df.sentiment == 2].punkt)

1        2
2        2
3        2
6        2
8        2
        ..
19353    2
19355    2
19356    2
19357    2
19360    2
Name: sentiment, Length: 10192, dtype: int64

In [100]:
df[df.sentiment == 0].nums.value_counts()

0    1963
1     347
Name: nums, dtype: int64

In [61]:
# df_negative = df[df.sentiment == 0]#['sentiment'].corr(df[df.sentiment == 0]['punkt'])
# df_negative

                                                sentence  ... punkt
1      Не вижу, за что хотя бы 2 поставить, сервис на 1!  ...     1
2           Вот так "Мой любимый" банк МКБ меня обманул.  ...     0
3                   Отвратительное отношение к клиентам.  ...     0
6      Абсолютное бездействие и нежелание банка работ...  ...     0
7      Первая операция на внесение 122 000 руб. была ...  ...     0
...                                                  ...  ...   ...
19353  Я уже писала отзыв о сложившейся ситуации, пос...  ...     1
19355  Руководитель Ф-рин А. крайне неквалифицирован ...  ...     1
19356  Никогда и ни в коем случае не открывайте счет ...  ...     1
19357  ТИ откровенно забили на качество и развивают с...  ...     0
19360  Данная ситуация меня сильно выбила из колеи, и...  ...     0

[13099 rows x 5 columns]

In [88]:
# df_negative.sentiment.corr(df_negative.punkt)

NameError: name 'df_negative' is not defined

In [ ]:
"!?''"

In [27]:
'всем привет!!'.count(r'[!?]')

0